

body {
  background-color: #A7FFEB;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 42px;
}

h2 {
  text-align: center;
  font-size: 1em;
}

.circle1 {
  width: 10%;
  height: 10%;
  background:black;
  border-radius: 50px;
}

button.newGame {
  font-family: "Proxima Nova";
  background-color: #FFFF8D;
  border-radius: 5px;
  margin:20px;
  padding:10px;
}

button.newGame:hover {
  background-color:#A7FFEB;
}

.new-game {
display: flex;
justify-content: center;
}

#game-board{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#game-base{
  width:640px;
  margin:0 auto;
  padding-top:60px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7 {

  height: 400px;
  width: 12%;
  padding: 5px;
  background-color: #FFFF8D;
  border: 1px solid #A7FFEB;
  border-radius: 10px;

}

.row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}


.cell {
  background-color:#A7FFEB;
  height: 98%;
  width: 95%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

