

body {
  background-color: #A7FFEB;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.game-board {
  background-color: #FFFF8D;
  border: 1px solid #FFF59D;
  border-radius:10px;
  width: 700px;
  height: 580px;
  margin: 0 auto;
  padding:;
  display:flex;
  flex-direction: column;

}

h1 {
  text-align: center;
  font-size: 4em;
}


